.BackgroundScreen {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}