.MainPage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    margin-top: 50px;
}

.headerMain {
    width: 100%;
    max-width: 530px;
    height: auto;
}

.subtitle {
    margin-top: 60px;
    font-family: 'Akrobat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    max-width: 700px;
    opacity: 0.7;
}

.btnContainer {
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.link {
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.02);
    }
}

.btnImg {
    display: block;
    width: 100%;
    max-width: 840px;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 510px;
    height: auto;
    margin-bottom: 200px;
}