.ExhibitionRoute {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.mapSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.fuselageImage {
    position: absolute;
    width: 35%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
    object-fit: contain;
    opacity: 1;
}

.accordionSection {
    position: absolute;
    right: 14%;
    top: 53%;
    transform: translateY(-50%) scale(1.13);
    width: 40%;
    max-width: 600px;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
}

.btnContainer {
    position: absolute;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 5;
}

.backBtn {
    position: absolute;
    bottom: -10px;
    z-index: 20;
    transform: translateX(11%);
}

.headerTitle {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    height: auto;
    max-width: 80%;
}

.subtitle {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Akrobat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    z-index: 15;
    white-space: pre-wrap;
    opacity: 0.8;
    margin-top: 20px;
}