services:
  mongodb:
    image: mongo:6
    volumes:
      - mongodb_data:/data/db
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: User

  server1:
    build:
      context: ./server1/server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"  # Внешний:Внутренний
    volumes:
      - ./:/app
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/User
      - RSS_EXIT_URL=http://rssexit:3200/events/user-deleted
    depends_on:
      - mongodb

  server2:
    build:
      context: ./server2/server
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    volumes:
      - ./:/app  
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/User
    depends_on:
      - mongodb

  client2:
    build:
      context: ./server2/client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./server2/client:/app
      - /app/node_modules  # Важно!
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - server2

  rssexit:
    build:
      context: ./RssExit
      dockerfile: Dockerfile
    ports:
      - "3200:3200"
    environment:
      - PORT=3200

volumes:
  mongodb_data:
