@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kosmo-bg {
  background-image: url('/kosmonavt.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 0;
}