
.childern-block {
    width: 400px;
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* background-color: gray; */
}

/* Стилизация скроллбара (работает в Chrome, Safari, Edge) */
.childern-block::-webkit-scrollbar {
    width: 14px; /* Толщина скроллбара */
}

.childern-block::-webkit-scrollbar-thumb {
    background: #72D8FF; /* Цвет ползунка */
}

/* Подкладываем свою PNG как фон */
.childern-block::-webkit-scrollbar-track {
    background: url('../UI/scrollBar/vector2.svg') no-repeat center center;
    background-size: cover;/* Растягиваем на всю высоту */
}

.childern-block::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}