.conteiner-selecct {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1080px;
  height: 1920px;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  position: relative;
  background: transparent;
}


.background-selector-mask-wrapper {
  position: relative;
  margin-top: 260px;
  display: flex;
}


.background-selector-desc {
  position: absolute;
  left: 50%;
  top: 83%;
  transform: translateX(-50%);
  margin: 0;
}

.background-selector-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  margin: 0 auto 12px auto;
  margin-top: auto;
}
