.BackAndNamePage {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 60px;
}

.backbtn {
    position: absolute;
    z-index: 10;
    left: -125px;
}

.BackAndNamePage img {
    position: relative;
    z-index: 1;
    top: 16px;
    display: block;
    height: auto;
    left: 130px;
}
