@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@layer utilities {
  @keyframes swim-1 {
    0%   { transform: translate(0px, 0px) scale(1); }
    50%  { transform: translate(10px, 8px) scale(1.01);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-2 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-12px, 6px) scale(1.015);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-3 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(8px, -10px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-4 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-7px, -7px) scale(1.008);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-5 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(15px, 3px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-6 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-10px, 12px) scale(1.018);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-7 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(5px, -12px) scale(1.01);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-8 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-14px, 4px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-9 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(12px, -6px) scale(1.015);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-10 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-8px, 10px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-11 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(7px, 7px) scale(1.008);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-12 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-15px, -3px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-13 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(10px, -12px) scale(1.018);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-14 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-5px, 12px) scale(1.01);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-15 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(14px, -4px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-16 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-12px, 6px) scale(1.015);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-17 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(8px, 10px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-18 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-7px, -7px) scale(1.008);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-19 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(15px, -3px) scale(1.012);}
    100% { transform: translate(0px, 0px) scale(1);}
  }
  @keyframes swim-20 {
    0%   { transform: translate(0px, 0px) scale(1);}
    50%  { transform: translate(-10px, 12px) scale(1.018);}
    100% { transform: translate(0px, 0px) scale(1);}
  }

  .swim-1 { animation: swim-1 11.52s ease-in-out infinite; }
  .swim-2 { animation: swim-2 12.16s ease-in-out infinite; }
  .swim-3 { animation: swim-3 12.8s ease-in-out infinite; }
  .swim-4 { animation: swim-4 13.44s ease-in-out infinite; }
  .swim-5 { animation: swim-5 14.08s ease-in-out infinite; }
  .swim-6 { animation: swim-6 14.72s ease-in-out infinite; }
  .swim-7 { animation: swim-7 15.36s ease-in-out infinite; }
  .swim-8 { animation: swim-8 16s ease-in-out infinite; }
  .swim-9 { animation: swim-9 16.64s ease-in-out infinite; }
  .swim-10 { animation: swim-10 17.28s ease-in-out infinite; }
  .swim-11 { animation: swim-11 17.92s ease-in-out infinite; }
  .swim-12 { animation: swim-12 18.56s ease-in-out infinite; }
  .swim-13 { animation: swim-13 19.2s ease-in-out infinite; }
  .swim-14 { animation: swim-14 19.84s ease-in-out infinite; }
  .swim-15 { animation: swim-15 20.48s ease-in-out infinite; }
  .swim-16 { animation: swim-16 21.12s ease-in-out infinite; }
  .swim-17 { animation: swim-17 21.76s ease-in-out infinite; }
  .swim-18 { animation: swim-18 22.4s ease-in-out infinite; }
  .swim-19 { animation: swim-19 14.04s ease-in-out infinite; }
  .swim-20 { animation: swim-20 13.68s ease-in-out infinite; }
}

@keyframes radar-sweep {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.blurred-opaque-text {
  filter: blur(1px); 
  opacity: 0.65;
  transition: all 0.3s;
}

.glow-text {
  opacity: 0.97;
  filter: drop-shadow(0 0 2px #72D8FF) drop-shadow(0 0 25px #72D8FF) ;
}