# Игнорировать директорию node_modules
node_modules/

# Игнорировать файлы логов
*.log

# Игнорировать файлы окружения
.env

# Игнорировать файлы зависимостей
package-lock.json

# Игнорировать директорию с бинарными файлами
bin/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы сборки
dist/
build/

# Игнорировать временные файлы
*.tmp
*.swp
