.TextInformation {
    max-width: 800px;
    margin: 0 auto;
    color: #ffffff;
}

.regularText {
    font-family: var(--font-akrobat), serif;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 40px;
    opacity: 0.9;
}

.heading {
    font-family: var(--font-akrobat), serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    /*text-decoration-style: solid;*/
    text-decoration-offset: 0%;
    text-decoration-thickness: 2px;
    color: #72D8FF;
    margin: 50px 0 30px 0;
    padding-bottom: 8px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.listItem {
    font-family: var(--font-akrobat), serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    padding-left: 43px;
    position: relative;
    opacity: 0.9;
}

.listItem::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 15px;
}