/* Отключаем overscroll и стандартный скролл (если нужно) */
html, body {
  overscroll-behavior: none; /* Убирает инерцию/отскок на iOS и Android */
  overflow: hidden; /* Если нужно полностью запретить скролл */
  /* overflow: auto;  если скролл должен работать */
}

/* Стилизация скроллбара для WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 14px;
  height: 14px; /* Для горизонтального скролла */
}

::-webkit-scrollbar-thumb {
  background: #72d8ff;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: url('../UI/scrollBar/track.png') no-repeat center center;
  background-size: cover;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Для Firefox (если нужно) */
* {
  scrollbar-width: thin;
  scrollbar-color: #72d8ff transparent;
}