html,
body {
  overscroll-behavior: none;
  overflow: hidden;
}

/* Стилизация скроллбара для WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: #72d8ff;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: url('../UI/scrollBar/track.png') no-repeat center center;
  background-size: cover;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #72d8ff transparent;
}
